/* General Styles */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border: 1px solid grey;
  }
  
  body{
    line-height:1.5;
    font-family: 'Roboto Mono', sans-serif;
  }

  h1, h2, h3, h4{
    font-family: 'Chelsea Market', sans-serif;
    letter-spacing:3px;
    padding:4% 0;
  }

  /*header styles*/


nav a{
    padding: 0 25px;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 0 3%;
    display: inline-block;
    width: 160px;
}

nav{
    margin: 4%;
    text-align: center;
}

div .title{
    display: inline-block;
}

.title img{
    border-radius: 50%;
    width: 25%;
    margin: 5%;
    display: inline-block;
    float: left;
}

div h1{
    display: inline-block;
    text-align: center;
    width: 60%;
    margin: 0;
    margin-bottom: 0;
}

div .title p{
    display: inline-block;
    text-align: center;
    margin-top: 0px;
}

.main_text{
    background-color: #DDB9A3;
    margin: 4%;
    text-align:center;
    padding: 1vh 5%;
    color: white;
}

p{
    margin: 5%;
    text-align:center;
}

.first{
    display: inline-block;
    text-align:center;
}

.plan{
    background-color:#FF764E;
}

.learn{
    background-color:#5ED3EB;
}

.get{
    background-color:#FFCD69
}

.icon {
    display: block;
    margin: auto;
    width: 15%;
}

.second p{
    text-align:center;
    width: 250px;
    font-size: 0.75rem;
    display:block;
    margin: 5% auto;
}

.footer img{
    width: 100%;
    height: 50px;
}


